



@media all and (min-width: 768px) and (max-width: 1025px) 
{

    body{
        margin-left: 73px;
        margin-right: 73px;
    
    }


    .nav-item:hover{
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }

    /*Div 1/ 1.1/ 1.2/ 1.3/ 1.4*/


    /*intro-site*/

    /*formulaire*/

    .formulaire{
        padding-top: 20px;
        width: 400px;
    }

    .localisation {
        height: 49px;
        background-color: #F2F2F2;
    }

    .localisation .fa-solid{
            margin-left: 20px;
            margin-top: 16px;
    }

    .ecrire input{
        width: 223px;
        height: 49px;
        border: 1px solid #F2F2F2;
    }
    
    /*filtres*/

    .liste-filtres{
        gap: 17px;
        padding-top: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .filtres-design {
        gap: 22px;
        padding: 0px;
    }

    .filtres-design span {
        padding: 0px 10px 0px 0px;
    }

    .filtres{
        display: flex;
        align-items: baseline;
    }

    .filtres .fa-solid{
        padding: 5px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    /*Div 2/ 2.1/ 2.2/ 2.3*/

    /*main-cadre*/

    .main-cadre{
        gap: 50px;
        display: flex;
        flex-direction: column;
    }

    /*hebergements*/

    .hebergments{
        margin-top: 20px;
    }

    .hebergements-marseille{
        gap: 30px;
        padding: 0;
    }

    /*les-plus-populaires*/


    .populaires-cartes{
        flex-direction: row;
        gap: 3%;
    }        

    .les-plus-populaires{
        margin-bottom: 25px;
    }
    
        
    .populaires-cartes .article-populaires{
        width: 20%;
        height: 100%;
    }

    .articles-populaires{
        flex: 4;
    }

    .etoiles-pop{
        margin: 70px 10px 10px;
    }

    .populaires-titre-prix-etoiles .titre{
        font-size: 11px;
        margin: 5px 0 0 5px;
    }

    .populaires-titre-prix-etoiles .prix{
        font-size: 9px;
        margin: 5px;
    }
    
    
    /*activites*/

    .activites{
        gap: 50px;
        margin-top: 45px;
    }

    .image-activites {
        height: 267px;
    }

    .image-activites .titre{
        margin: 15px;
    }
    

    .image-activites img {
        height: 75%;
    }
    
    /*FOOTER*/

    footer .pied{
        width: 100%; 
        gap: 90px;
    }

    .foot-propos{
        padding-left: 10px;
    }

}

@media all and (min-width: 476px) and (max-width: 768px) 
{

    body{
        margin-left: 20px;
        margin-right: 20px;
    
    }

    .activites{
        gap: 20px;
        margin-top: 45px;
    }

    .hebergements-marseille{
        margin-left: 20px;
        margin-right: 20px;

    }
}



